@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

*,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span,
li,
label,
input,
textarea,
button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.roboto-regular {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: normal;
}

.roboto-bold {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-style: normal;
}

.open-sans-700 {
    font-family: 'Open Sans', sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings: 'wdth' 100;
}

.nav {
    position: fixed;
    width: 100%;
    z-index: 20;
    background-color: #0f172a;
    height: 80px;
    color: #fff;
}

.nav__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 0 1rem;
}

.nav__logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
    font-family: 'Source Code Pro', monospace;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 700;
    transform: scale(0.7) translateX(-50px);
}

.logo-orcodev {
    display: flex;
    font-size: 36px;
}

:is(.logo_or-text, .logo_v-text) {
    color: #0284c7;
}

.logo_code-text {
    position: relative;
    color: white;
}

:is(.logo_or-text, .logo_code-text, .logo_v-text, .fullstack-text) {
    z-index: 10;
}

.logo_code-text,
.logo_or-text,
.logo_v-text {
    font-weight: 700;
}

.code_text-background {
    position: absolute;
    content: '';
    width: 82px;
    height: 70px;
    background-color: #334155;
    transform: skew(-30deg);
    top: 0px;
    left: -3px;
    z-index: -10;
    background: linear-gradient(
        to top,
        transparent 20%,
        rgba(2, 133, 199, 0.4) 60%,
        transparent
    );
}

.fullstack-text,
.logo-orcodev {
    color: gray;
}

.fullstack-text {
    color: #cbd5e1;
    margin-left: 0.5rem;
    font-size: 16px;
    opacity: 0.77;
    font-weight: 400;
}

.logo_bracket {
    color: orange;
}

.bracket-open {
    padding-right: 1rem;
}
.bracket-closed {
    padding-left: 1rem;
}

.logo_htmltag-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 900;
    font-size: 20px;
    color: #64748b;
}

.nav__menu--mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 80px;
    bottom: 0;
    width: 100%;
    height: 100vh;
    left: 0;
    background: linear-gradient(to top, transparent, #0f172a 40%);
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    transition: clip-path 0.5s ease-in-out;
}
.nav__menu--desktop {
    display: none;
}

.nav__input:checked + .nav__menu--mobile {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.nav__label {
    cursor: pointer;
}

:is(.nav__menu, .nav__input) {
    display: none;
}

.nav__item {
    color: #fff;
    text-decoration: none;
    padding: 1.5rem 0;
    width: 100%;
    text-align: center;
    display: block;
    border-bottom: 1px solid #475569;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    z-index: 10;
    padding: 80px 2rem 0 2rem;
    height: 100vh;
}

header .patron-puntos {
    width: 100%;
    height: calc(100dvh * 1.5);
    background-image: radial-gradient(circle, #d1d5db 1px, transparent 1px);
    background-size: 13px 13px;
    mask-image: linear-gradient(to right, black 60%, transparent);
    transform: skewY(-20deg);
    position: absolute;
    top: -100px;
    left: 0px;
    z-index: -10;
}

header .title {
    font-size: 48px;
    text-align: center;
}
header .img-orcodev {
    border-radius: 50%;
    max-width: 100%;
    height: auto;
    /* margin-bottom: 2rem; */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    object-fit: cover;
}

section {
    position: relative;
    z-index: 10;
}

.section__aboutme {
    background-color: #030712;
    padding: 80px 0 68px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.section__aboutme h2 {
    text-align: center;
}

.section__aboutme .section__title {
    color: #fafafa;
    font-size: 32px;
    padding: 0;
}

.section__aboutme .logo-orcodev {
    display: flex;
    justify-content: center;
    font-family: 'Source Code Pro', monospace;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 700;
    transform: scale(0.6);
    transform-origin: center bottom;
}

.section__aboutme .section__text {
    color: #fafafa;
    font-size: clamp(1rem, 2.5vw, 20px);
    margin: 41px 32px 57px 32px;
    text-align: left;
    line-height: 18.75px;
}
.section__check-img {
    width: 80px;
    height: 80px;
}

.section__services {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
}

.section__card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 52px;
    width: 80%;
    gap: 15px;
    /* border: 1px solid #475569; */
    padding: 0 1rem;
}

.section__services-title {
    display: flex;
    justify-content: center;
}

.section__services .section__text {
    text-align: center;
    line-height: 18.75px;
    font-size: 16px;
}

.section__contact {
    background-color: #030712;
    padding: 120px 0 70px 0;
    width: 100%;
    height: 100vh;
    font-size: clamp(0.8rem, 2.5vw, 20px);
}

.section__contact h2 {
    color: #fff;
    text-align: center;
}

.section__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 36px 20px 0 20px;
}

.form-label {
    font-size: 13px;
    color: #fff;
    line-height: 15.23px;
    margin: 27px 0 9px 0;
    width: 100%;
}

.form-input {
    display: block;
    width: 100%;
    height: 45px;
    border: none;
    outline: 1px solid #475569;
    outline-offset: 2px;
    font-size: 16px;
    color: #fff;
    color: #000;
    font-size: 24px;
    padding: 0.5rem 1rem;
}

.section__form textarea {
    height: 115px;
}

.form-button {
    background-color: #ffd953;
    width: 100%;
    height: 45px;
    border-radius: 0.25rem;
    margin-top: 60px;
    font-size: 16px;
}

footer {
    padding: 100px 0 113px 20px;
    background-color: #dbdbdb;
    height: 100vh;
}

footer .nav__logo {
    background-color: #0f172a;
    padding: 1rem;
    border-radius: 10px;
    transform: scale(0.4);
    transform-origin: left bottom;
}

footer .code_text-background {
    width: 82px;
    height: 70px;
    top: 0;
}

.footer__copyright {
    font-size: 13px;
    margin-top: 18px;
    color: #2c2c2c;
}

.social__icons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 25px;
    margin-top: 85px;
}

.social__icon {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.social__icon-text {
    margin-left: 0.5rem;
    color: #2c2c2c;
}

/* ------------------------------------------------------------ */
/*      Breackpoints de pantalla                                */
/* ------------------------------------------------------------ */
@media (min-width: 768px) {
    .nav__container {
        justify-content: space-around;
    }

    :is(.nav__input, .nav__label) {
        display: none;
    }
    .nav__menu {
        display: grid;
        grid-auto-flow: column;
        gap: 3rem;
    }

    .nav__menu--mobile {
        display: none;
    }

    .nav__menu--desktop {
        display: grid;
        grid-auto-flow: column;
        gap: 3rem;
    }

    .nav__item {
        --clippy: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%);
    }

    .nav__item::after {
        content: '';
        display: block;
        background-color: #64748b;
        width: 90%;
        height: 3px;
        margin-top: 3px;
        clip-path: var(--clippy);
        transition: clip-path 0.3s ease-in-out;
    }

    .nav__item:hover {
        --clippy: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    }
    /* ---------------------------------------------------------- */
    /* ---------------------------------------------------------- */
    /*         fin de navegacion */
    /* ---------------------------------------------------------- */
    /* ---------------------------------------------------------- */

    header {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        justify-items: center;
        height: 100vh;
        margin: 0 auto;
    }

    header .title {
        width: 70%;
        text-align: left;
    }

    header .img-orcodev {
        margin: 0;
        max-width: 70%;
        /* justify-self: end; */
    }

    .section__aboutme {
        flex-direction: row-reverse;
        justify-content: center;
        gap: 90px;
    }

    .aboutme__text-wrapper {
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
    }

    .section__check-img {
        width: 211px;
        height: 211px;
    }

    .section__aboutme h2 {
        text-align: left;
    }
    .section__aboutme h2 span {
        display: inline-flex;
    }

    .section__aboutme .section__text {
        margin-left: 0;
        margin-right: 30px;
        margin-bottom: 0;
        /* font-size: 24px; */
        line-height: 28px;
    }

    .section__services {
        display: grid;
        grid-template-columns: repeat(3, 29%);
        height: 100vh;
        padding: 0;
        align-items: start;
        align-content: center;
        background: linear-gradient(to top, #6b7280, white 30%);
    }

    .section__services-title {
        grid-column: span 3;
        font-size: 24px;
    }

    .section__card {
        margin: 4rem 0;
        width: 100%;
        /* justify-content: start; */
    }

    .section__services .section__title {
        font-size: 22px;
    }

    .section__contact {
        display: grid;
        grid-template-columns: 40% 45%;
        grid-template-rows: repeat(8, 1fr);
    }

    .section__contact h2 {
        text-align: end;
        margin-right: 4rem;
        margin-top: 2rem;
    }

    .section__form {
        padding: 0;
    }

    footer {
        display: grid;
        grid-template-columns: repeat(2, 40%);
        /* grid-template-rows: repeat(2, 1fr); */
        grid-template-areas:
            'logo       social'
            'copyright  social';
        justify-content: space-around;
        align-items: center;
    }

    .nav__logo {
        grid-area: logo;
        place-self: end start;
    }

    .footer__copyright {
        grid-area: copyright;
        place-self: start;
    }

    .social__icons {
        margin: 0;
        grid-area: social;
        place-self: center end;
    }
}

@media (min-width: 1200px) {
    header {
        grid-template-columns: repeat(2, 40%);
    }
    .section__services {
        grid-template-columns: repeat(3, 26%);
    }
    footer {
        grid-template-columns: repeat(2, 30%);
    }
}

@media (min-width: 1800px) {
    .section__contact {
        grid-template-columns: 40% 40%;
    }
    footer {
        grid-template-columns: repeat(2, 25%);
    }
}
